.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  padding-top: 20%;
  z-index: 999;
  background-color: rgba(0,0,0,0.4);
  color: royalblue;
  font-size: large;
}